---
import BaseLayout from '../layouts/BaseLayout.astro'
const Post1 = await Astro.glob('../pages/posts/post-1.md');
const Post2 = await Astro.glob('../pages/posts/post-2.md');
const Post3 = await Astro.glob('../pages/posts/post-3.md');
const pageTitle = "Work";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Work</h1>

  <h2>Featured Projects</h2>

  <p>Feel free to take a look at my work and read through my case studies, 
    see my final designs and test out the protoypes I’ve built.
  </p>

  <div class="row">

    {Post1.map((post) => 
      <div class="column">
        <a href={post.url}>
            <img src={post.frontmatter.image.src} width="100%" style="border-radius: 25px;">
        </a>
      </div>)}

    {Post2.map((post) => 
      <div class="column">
        <a href={post.url}>
            <img src={post.frontmatter.image.src} width="100%" style="border-radius: 25px;">
        </a>
      </div>)}

    {Post3.map((post) => 
        <a href={post.url}>
            <img src={post.frontmatter.image.src} width="100%" style="border-radius: 25px;">
        </a>
      )}

    </div>

</BaseLayout>