---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p style="opacity:50%;">{frontmatter.pubDate.toString().slice(0,10)}</p>
  <p >{frontmatter.description}</p>
  <img src={frontmatter.image.src} width="100%" style="border-radius: 25px;" alt={frontmatter.image.alt} title={frontmatter.image.title}/>
  <slot />
</BaseLayout>